# API Framework
fastapi
uvicorn

# LangChain & Retrieval
langchain
langchain-community
groq

faiss-cpu

# Embeddings
sentence-transformers
transformers

# PDF & Text Processing
PyPDF2

# TTS & API Calls
requests
streamlit


pydub
pydantic
python-dotenv
